<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding style="background-image: linear-gradient(to right top, #960b93, #ae1a8f, #c32c8a, #d53f87, #e45385);">

<div style="color: white;" align="center">
<br />
<br />
<br />
<br />   <br />   
<img src="assets/imgs/depan.png" width="100%">

</div>
<br />
<br />
<br />   <br /> 

 <ion-item style="background: white;">
    <ion-input type="text" placeholder="Username"  [(ngModel)]="datas.username"></ion-input>
  </ion-item>
  <br />
   <ion-item style="background: white;">
    <ion-input type="password" placeholder="Password"  [(ngModel)]="datas.password"></ion-input>
  </ion-item>
  &nbsp;
  <br />
<!--   <p style="text-align: center; color: #dfdfdf;" (click)="doForget()">Forgot Your Password?</p>
  <br /> -->

<button ion-button full login style="color: black; background: #FBFF00;" (click)="doLogin()">Login</button>


<button ion-button full style="color: black; background: #00FBFF;" (click)="doRegister()">Register</button>


</ion-content>

