<!--
  Generated template for the EvaResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colorMain">
            <button ion-button menuToggle (click)="doBack()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Overall Rating</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<img src="/assets/imgs/4s_2.jpg">

	<div align="center" style="margin-top: -247px;margin-bottom: 70px;">
		<h2 style="color: white">Overall Rating</h2>
    <ionic3-star-rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#ffff14" 
        defaultColor = "#ffff14"
        readonly="true"
        [rating]="starOut">
    </ionic3-star-rating>
</div>

<ion-list>
	<ion-item>
	<ion-label text-wrap><b>Area Rating</b></ion-label>

	    </ion-item>
    	<ion-item *ngFor="let display of display">
    		<ion-grid>
  <ion-row>
    <ion-col col-8 text-wrap>{{display.areaName}}</ion-col>
    <ion-col col-3 text-wrap>{{display.star}}/5 Stars</ion-col>
  </ion-row>
</ion-grid>

	    </ion-item>

    	<ion-item>
	    <ion-label text-wrap><b>Comments/Recommendation/Action to be taken:</b></ion-label>
	    </ion-item>
	    	<ion-item *ngFor="let display of display">
	<ion-label text-wrap>{{display.comment}}</ion-label>
	    </ion-item>
 </ion-list> 

 <div align="center">
 	<button ion-button round color="colorYellow" (click)="doHome()">Home</button>
<button ion-button round color="colorHome" (click)="doEmails()">Save Data</button>
<br />
</div>  
</ion-content>
