<ion-header>
  <ion-navbar color="colorMain">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<img src="/assets/imgs/4s.jpg">

<div align="center" style="margin-top: -180px;">
<button ion-button round color="colorYellow" (click)="presentPrompt()">Start Evaluation</button>
</div>
</ion-content>
