<!--
  Generated template for the EvaDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar  color="colorMain">
    <ion-title>Evaluation Details</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content class="main-view" style="overflow-x: hidden; overflow-x: hidden;">
	  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content">
<ion-list>

  <ion-item>
    <ion-label>User Role</ion-label>
    <ion-select [(ngModel)]="datas.role">
      <ion-option value="lean">Lean Practitioner</ion-option>
      <ion-option value="supervisor">Supervisor</ion-option>
      <ion-option value="auditor">Auditor</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>Organization's Name</ion-label>
    <ion-input type="text" [(ngModel)]="datas.org"></ion-input>
  </ion-item>

</ion-list>

<br />
<div align="center">
	  <button ion-button round color="colorMainS" (click)="doClear()">Cancel</button>
  <button ion-button round color="colorMain" (click)="doOrganization()">Next</button>
</div>
</div>
</ion-content>
