<!--
  Generated template for the EvaCheck1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="colorMain">
    <ion-title>Evaluation Checklist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-card>
  <ion-card-content style="background: #c82037; color: white;">
<b>1</b>: No activity or slight effort <br />
<b>2</b>: Poor Practice <br />
<b></b>3: Acceptable <br />
<b>4</b>: Good Practice <br />
<b>5</b>: Best Practice 
  </ion-card-content>
</ion-card>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~START SECTION A~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<ion-card>
  <ion-card-header text-wrap style="background: #d63249; color: white;">
SORT - Determine what is needed and remove the rest.
  </ion-card-header>
  <ion-card-content>
<ion-list>
	<ion-item>
	<ion-label text-wrap>Tools, fixtures and jigs in the area are used on a regular basis
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.a1" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>All the unneeded items have been removed from the department
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.a2" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>All essential items are placed in the cupboards, storage cabinets and racks well. 
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.a3" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>All the announcements are organized in a neat way.
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.a4" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>Standard for eliminating unneeded items exist are being followed
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.a5" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
		<ion-item>
	    <ion-label stacked text-wrap>Comments/Recommendation/Action to be taken:</ion-label>
	    <ion-input type="text" [(ngModel)]="datas.a6"></ion-input>
	    </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~END SECTION A~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~START SECTION B~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<ion-card>
  <ion-card-header text-wrap style="background: #d63249; color: white;">
SET IN ORDER - Everything in its place. No wasteful activities like searching for tools.
  </ion-card-header>
  <ion-card-content>
<ion-list>
	<ion-item>
	<ion-label text-wrap>The location of machine, equipment and etc organized efficiently to ensure a smooth product flow through the work area.
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.b1" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>The walkways, work areas, storage locations and danger area are mark with lines and clear of obstacles
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.b2" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>Documents, containers, boxes, shelves and stored items are properly sorted, arranged and labelled. Materials and product locations are clear and well organized.
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.b3" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>The safety equipment is placed in right place and up to date	
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.b4" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>The personal belongings are stored in space provided	
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.b5" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
		<ion-item>
	    <ion-label stacked text-wrap>Comments/Recommendation/Action to be taken:</ion-label>
	    <ion-input type="text" [(ngModel)]="datas.b6"></ion-input>
	    </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~END SECTION B~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~START SECTION C~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<ion-card>
  <ion-card-header text-wrap style="background: #d63249; color: white;">
SHINE - Cleaning and keep it clean.
  </ion-card-header>
  <ion-card-content>
<ion-list>
	<ion-item>
	<ion-label text-wrap>All tools/equipment clean and stored properly daily
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.c1" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>All machines, work stations, floors and surface are clean, tidy and free of grease, oil, and dirt
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.c2" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>Waste container or any other bin have been managed well
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.c3" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>Cleaning equipment are provided in good condition	
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.c4" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>Cleaning completed daily and recorded on a cleaning check sheet
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.c5" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
		<ion-item>
	    <ion-label stacked text-wrap>Comments/Recommendation/Action to be taken:</ion-label>
	    <ion-input type="text" [(ngModel)]="datas.c6"></ion-input>
	    </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~END SECTION C~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~START SECTION D~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<ion-card>
  <ion-card-header text-wrap style="background: #d63249; color: white;">
STANDARDIZE - Make standards obvious and maintained. 
  </ion-card-header>
  <ion-card-content>
<ion-list>
	<ion-item>
	<ion-label text-wrap>5S checklists, schedules and routines are defined and being used
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.d1" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>Information displays using signs, colour coding and other markings are used
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.d2" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>Workers is aware of their responsibilities
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.d3" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>Employees actively participate in continuous improvement efforts in 5S
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.d4" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>The previous result of 5S audits is displayed to be share with the workers and goals for improvements
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.d5" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
		<ion-item>
	    <ion-label stacked text-wrap>Comments/Recommendation/Action to be taken:</ion-label>
	    <ion-input type="text" [(ngModel)]="datas.d6"></ion-input>
	    </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~END SECTION D~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~START SECTION E~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<ion-card>
  <ion-card-header text-wrap style="background: #d63249; color: white;">
SUSTAIN - Maintain high standards and constantly seek to improve.
  </ion-card-header>
  <ion-card-content>
<ion-list>
	<ion-item>
	<ion-label text-wrap>Daily cleaning check sheet in place and up-to-date to ensure consistency and completeness in carrying out a task
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.e1" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>All daily cleaning/maintenance reports completed and on file
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.e2" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>All workers been adequately trained in 5S standard procedure
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.e3" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>The comments/recommendation from past audits has been acted upon for improvement
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.e4" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	<ion-label text-wrap>5S Board is up to date and frequently checked on 
	</ion-label>
      <ion-range min="1" max="5" snaps="true" pin="true" [(ngModel)]="datas.e5" color="danger" style="margin-top: -5px;">
        <ion-icon range-left small color="danger">1</ion-icon>
        <ion-icon range-right color="danger">5</ion-icon>
      </ion-range>
    </ion-item>
		<ion-item>
	    <ion-label stacked text-wrap>Comments/Recommendation/Action to be taken:</ion-label>
	    <ion-input type="text" [(ngModel)]="datas.e6"></ion-input>
	    </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~END SECTION E~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<br />
<div align="center">
  <button ion-button round color="colorMain" (click)="doDone()">Done</button>
    <button ion-button round color="colorMain" (click)="doRmv()">Remove</button>

</div>
</ion-content>
