<ion-header>

  <ion-navbar color="colorMain">
  	    <button ion-button menuToggle (click)="goBack()">
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
    <ion-title>Organization Area</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-list>
        <ion-item-sliding *ngFor="let area of area">
            <ion-item (click)="goStart(area.areaId)">
   <!--              {{t}} -->
                   <ion-label>  {{area.areaName}}</ion-label>
           </ion-item>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="delete(t)">
                    <ion-icon name="trash"></ion-icon> Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

     <ion-item>
        <ion-input [(ngModel)]="datas.areaName" placeholder="Insert New Organization Area" type="text"></ion-input>
    </ion-item>

<div align="center">
    <button ion-button round (click)="add()" color="colorMain">Add New Area</button>
</div>
<div align="center">
    <button ion-button round full color="colorMain" (click)="goResult()">Calculate Rating</button>
</div>
</ion-content>
