<!--
  Generated template for the EvaRatingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colorMain">
  	    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Saved Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card *ngFor="let datas of datas">
  <ion-item>
    <ion-icon style="color: #a4051b;" name="ios-star" item-start large></ion-icon>
    <span>{{datas.orgScore}}/5</span> Overall Rating
  </ion-item>
  <ion-item style="margin-top: -13px;">
    <b>Organization Name: </b>{{datas.orgName}}
    <br />
    <b>Date: </b>{{datas.date}}
  </ion-item>
</ion-card>
</ion-content>
